<!-- Side navigation -->
<div class="sidenav">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/language" routerLinkActive="active">Language</a>
  <a routerLink="/currency" routerLinkActive="active">Currency</a>
</div>

<!-- Page content -->

<br />
<div class="main">
  Select a Country :
  <input
    type="text"
    name="country"
    list="countryname"
    [(ngModel)]="countryName"
    (change)="onSelect(countryName)"
  />
  <datalist id="countryname">
    <option *ngFor="let country of countrylist" [value]="country.alpha3Code">
      {{ country.name }}
    </option>
  </datalist>
  {{ countryName }}

  <br />
  <br />
  <router-outlet></router-outlet>
</div>
